{% extends "baseAdmin.html" %}

{% block content %}

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="row">
                        <div class="col-md-12">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                                {% for category, message in messages %}
                                  <div class="alert alert-{{ category }}">
                                    {{ message }}
                                  </div>
                                {% endfor %}
                              {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-sm-12">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ url_for('admin_dashboard')}}">Admin Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <i class="feather-chevron-right"></i>
                                </li>
                                <li class="breadcrumb-item active">Capture Images</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- <div class="good-morning-blk">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="morning-user">
                                <h2>Good Morning, <span>Admin</span></h2>
                                <p>Have a nice day at work</p>
                            </div>
                        </div>
                        <div class="col-md-6 position-blk">
                            <div class="morning-img">
                                <img src="/static/assets/img/morning-img-01.png" alt="">
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{{url_for('capture_images')}}" method="post">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-heading">
                                                <h4>Capture Images</h4>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-12">
                                        <div class="doctor-submit text-end">
                                            <button type="submit"
                                                class="btn btn-primary submit-form me-2" value="Capture Images">Capture Images</button>
                                            
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}